nav {
    display:flex;
    flex-wrap:wrap-reverse;
    align-content:stretch;
    }
  .nones { list-style: none;
}
.card-one{
    display: flex;
    flex-wrap: wrap;
}
.container{
    width: 1170px;
    height: 386px;
    top: 969px;
    left: 215px;
    
}
body{
    background-color: #e5e5e5;
    width: 1600px;
    height: 600px;
    top: 80px;

}
.computer-mac{
    position: absolute;
    width: 370px;
    
    height: 294px;
    top: 1061px;
    left: 215px;
}
.box-comp{
    position: absolute;
    width: 370px;
    
    height: 294px;
    top: 1061px;
    left: 615px;

}
.plan-bi{
    position: absolute;
    width: 370px;
    
    height: 294px;
    top: 1061px;
    left: 1015px;
}
.atention-one{
    position: absolute;
    width: 270px;
    
    height: 101px;
    top: 774px;
    left: 215px;

}
.atention-two{
    position: absolute;
    width: 270px;
    
    height: 101px;
    top: 774px;
    left: 515px;
}
.firework-one{
    position: absolute;
    width: 270px;
    
    height: 101px;
    top: 774px;
    left: 815px;

}
.lust-techno{
    position: absolute;
    width: 270px;
    
    height: 101px;
    top: 774px;
    left: 1115px;

}
.team-card-one{
    position: absolute;
    width: 270px;
    
    height: 101px;
    top: 1635px;
    left: 215px;

}
.team-card-two{
    position: absolute;
    width: 270px;
    
    height: 260px;
    top: 1635px;
    left: 515px;

}
.team-card-less{
    position: absolute;
    width: 270px;
    
    height: 260px;
    top: 1635px;
    left: 815px;

}
.team-card-form{
    position: absolute;
    width: 270px;
    
    height: 260px;
    top: 1635px;
    left: 1115px;

}
.section-team-card-super {
    width: 1600px;
    
    height: 648px;
    top: 1449px;
    }
    
    .container-five{
        height: 1360px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
       

