nav {
    display:flex;
    flex-wrap:wrap-reverse;
    align-content:stretch;
    }
  .nones { list-style: none;
}

 
.card-one{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    height: 386px; 
    justify-content: space-around;
    align-items: flex-start;
}
.section-team-card-super{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    height: 368px; 
    justify-content: space-around;
    align-items: flex-start;

}

body{
    background-color: #e5e5e5;
    width: 1600px;
    height: 600px;
    top: 80px;
    font-family:Roboto,sans-serif;
    letter-spacing: 3%;
    

}
    
    .container-five{
        height: 1360px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .container-portfolio{
        display: flex;
height: 80px;
flex-direction: row;
flex-wrap:nowrap;
align-items: flex-start;
justify-content: space-around;

    }
    .container-portfolio-two{
        display: flex;
        flex-direction:row-reverse;
        height: 80px;
        justify-content:flex-end;
    }
    
    .page-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .team-card-one{
          color: #212121;
          font-size: 14px;
          line-height:1.17 ;
          font-weight: 500;
          text-decoration: none;

      }

      .team-card-two {
        color: #212121;
        font-size: 14px;
        line-height:1.17 ;
        font-weight: 500;
        letter-spacing: 2%;
        text-decoration: none;

      }
      .logo-first{
          color:#2196F3;
          font-size: 26px;
          line-height:1.17 ;
          font-weight: 700;
          font-family:Raleway,serif ;
          text-decoration: none;
    
      }
      .logo-header{
        color:#FFFFFF ;
        font-size: 26px;
        line-height:1.17 ;
        font-weight: 700;
        font-family:Raleway,serif ;
        text-decoration: none;
}

    a:hover{
        color:dodgerblue;
        
    }
    a:focus{
        color:dodgerblue;
        
    }
        
    
    .team-card-mac{
        color: #2196f3;
        font-size: 14px;
        line-height:1.17 ;
        font-weight: 500;
        text-decoration: none;

    }
    p{
        color: #757575;
        font-size: 14px;
        line-height:1.17 ;
        font-weight: 400;
        text-decoration: none;
    }
    .non-stop{
        display: flex;
        height: 80px;
        flex-direction: row;
        flex-wrap:nowrap;
        align-items: flex-start;
        justify-content: space-around;
        }
        h2{
            color:#212121;
            font-size: 36px;
            line-height:1.17 ;
            font-weight: 700;
            text-align: center;
            text-decoration: none;
        }
        
        h1{color:#FFFFFF;
            font-size: 44px;
            line-height:1.37 ;
            font-weight: 900;
            text-align: center;
            letter-spacing: 6%;
            text-decoration: none;
}
        .button {
            color:#FFFFFF;
            background: #2196F3;
            font-size: 16px;
                line-height:1.87 ;
                font-weight: 700;
                text-align: center;
                letter-spacing: 6%;
                text-decoration: none;
                }
                .e-mail{
                    color:#757575;
                    font-size: 14px;
                    line-height:1.17 ;
                    font-weight: 500;
                    text-decoration: none;
                   }
                   .maximum-size{
                    color:#FFFFFF, 60%;
                    font-size: 14px;
                    line-height:1.71 ;
                    font-weight: 400;
                    text-decoration: none;
                   }
                   .time-class{
                    color:#212121;
                    font-size: 18px;
                    line-height:2 ;
                    font-weight: 700;
                    text-decoration: none;
}
.button-two
{
    color:#212121;
            background:#F5F4FA ;
            font-size: 16px;
                line-height:1.87 ;
                font-weight: 500;
                text-align:justify;
                letter-spacing: 3%;
                text-decoration: none;

}
.street-one
{ color:#FFFFFF;
    font-size: 14px;
    line-height:1.17 ;
    font-weight: 400;
    text-decoration: none;
}

