
*, ::after,::before{
    box-sizing: border-box;
}
a {
text-decoration: none;
}

body{
    background-color: #FFFFFF;
    max-width: 1600px;
    font-family:Roboto,sans-serif;
    color: black;
    margin: 0px;
   letter-spacing: 0.03em;
}
ul{
    list-style: none;
}

    
  
.section-team-card-super p{ 
   
    font-size: 16px;
    line-height:1.17 ;
    font-weight: 400;
    
  letter-spacing: 3%;

}

 


.team-card :not(:last-child){
    margin-right: 30px;
    
}

.what-we-are-doing li:not(:last-child){
padding-right: 30px;
}
.plan-b li{
    margin-right: 30px;
    margin-bottom: 94px;
}
    
    .plan-b li :not(:last-child){
        padding-right: 30px;
        }
   
      .team-card-one{
          color: #212121;
          font-size: 16px;
          line-height:1.17 ;
          font-weight: 500;
        
        letter-spacing: 3%;
    padding-bottom: 10px;
    margin-top: 94px;
    
    }
        .team-card-one-igor{
            color: #212121;
            font-size: 16px;
            line-height:1.17 ;
            font-weight: 500;
           
    
          margin-right:59px ;
          margin-top:30px ;
          margin-bottom:10px ;
          margin-left:60px ;
            
        }
        .team-card-olga{
            color: #212121;
            font-size: 16px;
            line-height:1.17 ;
            font-weight: 500;
            
          
          margin-right:81px ;
          margin-top:30px ;
          margin-bottom:10px ;
          margin-left:80px ;
         

        }
        .team-card-tarasov{
            color: #212121;
            font-size: 16px;
            line-height:1.17 ;
            font-weight: 500;
           
     
          margin-right:66px ;
          margin-top:30px ;
          margin-bottom:10px ;
          margin-left:67px ;
         
        }
        .team-card-ermakov{
            color: #212121;
            font-size: 16px;
            line-height:1.17 ;
            font-weight: 500;
           
         
          margin-right:68px ;
          margin-top:30px ;
          margin-bottom:10px ;
          margin-left:68px ;
       
        }
        
        .designer-cool{
            color: #757575;
            font-size: 16px;
            line-height:1.17 ;
            font-weight: 400;
            
       
          margin-right:70px ;
          
          margin-bottom:30px ;
          margin-left:70px ;
         

        }
        .designer-cool-olga{
            color: #757575;
            font-size: 16px;
            line-height:1.17 ;
            font-weight: 400;
           
          
          margin-right:61px ;
          
          margin-bottom:30px ;
          margin-left:62px ;
          

        }
        .designer-cool-tarasov{
            color: #757575;
            font-size: 16px;
            line-height:1.17 ;
            font-weight: 400;
            text-decoration: none;
        
          margin-right:97px ;
          
          margin-bottom:30px ;
          margin-left:97px ;
         

        }
        .designer-cool-ermakov{
            color: #757575;
            font-size: 16px;
            line-height:1.17 ;
            font-weight: 400;
        
          
          margin-right:91px ;
          
          margin-bottom:30px ;
          margin-left:92px ;
         

        }
          .logo-header-two{
            color: #212121 ;
            font-size: 26px;
            line-height:1.17 ;
            font-weight: 700;
            font-family:Raleway,sans-serif ;
            text-decoration: none;
           padding-left: 15px;
        }
       
        
.page-header{
    border-bottom: 1px solid #ECECEC ;
    
    margin-top: 15px;
        margin-left: 15px;    
            
}
       

    ul .contakts-link{
        color:#212121;

        font-size: 14px;
        line-height:1.14;
        font-weight: 500;
        font-family:Raleway,serif ;
       
        letter-spacing: 0.02em;
    }
      .logo-first{
          color:#2196F3;
          font-size: 26px;
          line-height:1.17 ;
          font-weight: 700;
          font-family:Raleway,sans-serif ;
         
          
        }
      
          .logo-header{
        color:#FFFFFF ;
        font-size: 26px;
        line-height:1.17 ;
        font-weight: 700;
        font-family:Raleway,sans-serif ;
        
}

    .item-one a:hover{
        color:dodgerblue;
        
    }
    .item-one a:focus{
        color:dodgerblue;
        
    }
    .logo-header-two:hover{
        color:dodgerblue;
        
    }
    .logo-header-two:focus{
        color:dodgerblue;}
        
        .e-mail:hover{
            color:dodgerblue;
            
        }
       
            
            
            
   .mail-one{
       padding-top: 9px;
       padding-bottom: 9px;
   }
   .e-mail{
    color: #757575;
    font-size: 14px;
    line-height:1.17 ;
    font-weight: 500;
    text-decoration: none;
    
    font-family:Roboto,sans-serif ;
   }
            
       
      

        
                
                   .maximum-size {
                    color: rgb(255,255,255,0.6);
                    font-size: 14px;
                    line-height:1.71 ;
                    font-weight: 400;
                    
                    
                    
                   }
  




.street-one
{ color:#FFFFFF;
    font-size: 14px;
    line-height:1.17 ;
    font-weight: 400;
    text-decoration: none;
  
}


.item-one .contakts-item-link{

margin-right: 50px;  


 }

 .item-one .item:last-child{
     margin-right: 0px;
 }

 

    






    .logo-first-two{
        color:#2196F3;
        font-size: 26px;
        line-height:1.17 ;
        font-weight: 700;
        font-family:Raleway,serif ;
        text-decoration: none;}
        
        footer{margin-top: 94px;
            background-color: #2F303A;
            width: 1230px;
        }
     
        button{
            display: inline-block;
            min-width: 200px;
            background-color:#2196f3;
            color: #FFFFFF;
            font-size: 16px;
    line-height:1.87 ;
    font-weight: 700;
    letter-spacing: 0.06em;
  
    border: transparent;
    padding:10px 32px ;
    text-decoration:none;
    text-align: center;
border-radius: 4px;


}





 
    

    .section-hero{
        box-sizing: border-box;
       
       
        
       
       color: #FFFFFF;
       background-color:#3a3a3d;
       text-align: center;
       margin-bottom: 94px;
letter-spacing: 0.06em;
 margin-right: 15px;
 margin-left: 15px;
}
      
       .decid-my-win{
           color: #FFFFFF;
 
 font-size: 44px;
          line-height:1.17 ;
          font-weight: 900;
          font-family: Roboto,sans-serif;
          text-decoration: none; 
          
         margin-top: 200px ;
         margin-bottom: 30px;
         padding-left: 252px;
          padding-right: 252px;
          



    }
 
   
     
    
    
    
    .section-team-twenty-one{

        
        padding-top: 94px;
  
    padding-top:  186px;
   padding-right: 215px;
   padding-bottom:  94px;
   padding-left:  215px;
   
       
    }



    










ul .contakts-item-link{
    color: #212121;
    font-size: 14px;
          line-height:1.17 ;
          font-weight: 500;
          font-family: Roboto,sans-serif;
          text-decoration: none; 
          letter-spacing: 2%;
         
}
.team-card-two {
    
    
    text-decoration: none;
}
li .team-card-one{
    color: #212121;
    font-size: 14px;
          line-height:1.17 ;
          font-weight: 700;
          font-family: Roboto,sans-serif;
          text-decoration: none; 
          letter-spacing: 3%;
          
         
}

.class-people p{
    color: #757575;
    font-size: 14px;
          line-height:1.71 ;
          font-weight: 400;
         
         
          letter-spacing: 3%;
}
li{
    list-style: none;
}
.word-our-com {
    color: #212121;
    font-size: 36px;
          line-height:1.17 ;
          font-weight: 700;
          font-family: Roboto,sans-serif;
          text-decoration: none; 
          letter-spacing: 3%;
          padding-top: 94px ; 
          padding-bottom: 50px ;
          text-align: center;

}

.button-two{
    color: #212121;
    font-size: 16px;
          line-height:1.62 ;
          font-weight: 500;
          font-family: Roboto,sans-serif;
          text-decoration: none; 
          letter-spacing: 3%;
          background-color:#F5F4FA;

          
}

ul .time-class{
    color: #212121;
    font-size: 18px;
          line-height:2.0;
          font-weight: 700;
          font-family: Roboto,sans-serif;
          
          letter-spacing: 6%;
          padding-left: 24px;
          padding-right: 24px;
          padding-top: 20px;
          }
.web-site{
    color: #757575;
    font-size: 16px;
          line-height:1.87;
          font-weight: 400;
          font-family: Roboto,sans-serif;
          text-decoration: none; 
          letter-spacing: 3%;
        text-decoration: none;
        padding-left:24px ;
        padding-right: 24px;
        padding-top: 4px;
        padding-bottom: 20px;
        

}
.team-card-one-section{
    box-sizing: border-box;
    margin-top: 94px;
    margin-right: 15px;
    margin-left: 15px;
}
.our-work{
    margin-top: 94px;
    margin-bottom: 94px;
}
.woman-and-man{
   
    background-color: #F5F4FA;
   
    width: 1230px;
    margin-top: 94px;
    margin-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    
    
    
}
.container-footer{
    box-sizing: border-box;

    margin-top: 0px;
    
}
.decid-my-win{
    padding-top: 200px;
    padding-bottom: 280px;
    
}





.section-our-com{
    padding-bottom: 50px;
    text-align: center;
    margin-top: 94px;
}




.plan-b li:not(:last-child){
    margin-right: 30px;}
    
    
    

footer .logo-header{
    display:inline-block;
    padding-top:60px ;
    padding-bottom: 20px;
    padding-left: 15px;
}
.contacts-two {
    padding-bottom: 60px;
    padding-left: 15px;
    padding-top: 20px;



}

    .button-marketing li{
        display:inline-block;
        border-radius:4px ;
        margin-right: 8px;

    }
   
.cinderella-one{
    margin-right: 30px;
    width: 370px;
    margin-bottom: 30px;
    
    
}


.container-portfolio{
    width: 1230px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}
.cinderella-one:nth-last-child(-n+3){
    margin-bottom: 0px;
}

.cinderella-one {
    border:  1px solid #EEEEEE ;
    
    border-bottom-style: outset;
}
.cinderella-one:nth-child(3n) {
    margin-right: -15px;
}      
 
.color-life{
    background-color: #FFFFFF;
    width: 270px;
    margin-top: 0px;
    
}
.woman-and-man .color-life{
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);

    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    
}
footer a:hover{
    color:dodgerblue;

}
footer a:focus{
    color:dodgerblue;
}
